<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srhdp.ibookcambodia">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        android:label="iBook-Cambodia">

        <activity
            android:name="com.srhdp.ibookcambodia.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.onesignal.suppressLaunchURLs"
            android:value="true" />

    </application>
</manifest>
