<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>765414309575-nk23hubu29gcql6tsc01qktmbbf89iv7.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.765414309575-nk23hubu29gcql6tsc01qktmbbf89iv7</string>
    <key>API_KEY</key>
    <string>AIzaSyAoNdLFPsRYj0W5Z62uHr8gSnZ0ybg_rKM</string>
    <key>GCM_SENDER_ID</key>
    <string>765414309575</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.mighty.ebook</string>
    <key>PROJECT_ID</key>
    <string>mighty-ebook</string>
    <key>STORAGE_BUCKET</key>
    <string>mighty-ebook.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:765414309575:ios:682e38c58584765a8d88e2</string>
</dict>
</plist>
